DATABASE_URL = postgresql+psycopg2://packaging_user:password@dpg-xxx:5432/packaging_db
JWT_SECRET_KEY=change-me-to-a-long-random-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ML_MODEL_PATH=packaging_model.pkl
