fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
joblib
numpy
pandas
